body {
    font-family: 'Mukta', sans-serif;
    background-image: url("images/background.png");
    background-size: auto;
    margin: 0 auto;
    width: 1050px;
}



#nav-bar {
    background-color: #273469;
    padding: 0 25px;
    border-radius: 20px;
    margin: 24px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
    color: #FAFAFF;
}


.logo-txt {
    font-size: 36px;
    font-weight: 800;
}

.nav-bar-links {
    display: flex;
    gap: 125px;
}

.nav-bar-text {
    font-weight: 300;
    font-size: 18px;
    
}

#header {
    margin: 160px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FAFAFF;
}

mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    color: #FAFAFF;
    background: rgba(56,130,246, 0.5);
  }

.header-title {
    font-weight: 900;
    font-size: 45px;
    line-height: 50px;
}

.header-desc {
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
}

.header-btn {
    margin-top: 24px;
    background: #3882F6;
    font-size: 14px;
    font-weight: 800;
    border: 0;
    color: #FAFAFF;
    padding: 8px 24px;
    border-radius: 50px;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/pattern.png");
    background-position: top left;
    height: 500px;
    width: 500px;
    
}

.header-img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 0 #273469;
    background-image: url("https://images.unsplash.com/photo-1617137968427-85924c800a22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTR8fG1hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: 120%;
    background-position: center bottom -240px;
}